<nav class="navbar-example navbar-fixed-top container">
		<ul class="nav nav-tabs">
		  <li role="presentation" class="active"><a href="#overview">Overview</a></li>
		  <li role="presentation"><a href="#expected">Expected Performance</a></li>
		  <li role="presentation"><a href="#value">Value Picks</a></li>
		  <li role="presentation"><a href="#team">Team Performance</a></li>
		  <li role="presentation"><a href="#d3">D3 Visuals</a></li>
		</ul>
</nav>

<div class="container">
	<div class="col-md-8">
		<div class="page-header" id ="overview">
		  <h1>NSA-B <small>An Overview of our Project</small></h1>
		</div>



		<div class="page-header" id ="expected">
		  <h1>Expected Performance <small>What's expected of a draft pick?</small></h1>
		</div>
		<table class="table table-striped" id ="table-one">
		  <tr>
		  <% @table_one.headers.each do |header| %>
		    <th class="<%= header %>"><%= header %></th>
		  <% end %> 
		  </tr>
		  <% @table_one.each do |row| %>
		    <tr>
		    <% row.each do |element| %>
		      <td><%= element[1] %></td>
		    <% end %>
		    </tr>
		  <% end %> 
		</table>

		<div class="page-header" id ="value">
		  <h1>Value Picks <small>Who's worth and who's not</small></h1>
		</div>	
		<table class="table table-striped" id ="table-two">
		  <tr>
		  <% @table_two.headers.each do |header| %>
		    <th class="<%= header %>"><%= header %></th>
		  <% end %> 
		  </tr>
		  <% @table_two.each do |row| %>
		    <tr>
		    <% row.each do |element| %>
		      <td><%= element[1] %></td>
		    <% end %>
		    </tr>
		  <% end %> 
		</table>

		<div class="page-header" id ="team">
		  <h1>Team Performance <small>Which teams have made good picks?</small></h1>
		</div>
		<table class="table table-striped" id ="table-three">
		  <tr>
		  <% @table_three.headers.each do |header| %>
		    <th class="<%= header %>"><%= header %></th>
		  <% end %> 
		  </tr>
		  <% @table_three.each do |row| %>
		    <tr>
		    <% row.each do |element| %>
		      <td><%= element[1] %></td>
		    <% end %>
		    </tr>
		  <% end %> 
		</table>

		<div class="page-header" id ="d3">
		  <h1>D3 Visuals <small>Some Graphs and Visual Representations of our Data</small></h1>
		</div>
	</div>
</div>